body {
  max-width: 1100px;
  padding: 40px;
  margin-right: auto;
  margin-left: auto;
  background-color: dimgray;
  line-height: 3;
}

ul {
    color: ghostwhite;
}

.slidecontainer {
    padding: 15px;
}

.R {
    -webkit-appearance: none;
    height: 5px;
    background: #9d0000;
}

.G {
    -webkit-appearance: none;
    height: 5px;
    background: #236320;
}

.B {
    -webkit-appearance: none;
    height: 5px;
    background: #051e90;
}